.page-about {
    background: url("images/about-bg.png") center / cover no-repeat;
    background-color: #d7d7d7;
    padding: 30px 30px 30px 30px;
}

.page-about__title {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    &::after {
            content: "";
            background-color:  #353535;
            display: block;
            height: 5px;
            margin: 18px 0 0 0;
            width: 40px;
        }
}

.page-about__text {
    font-size: 14px;
    line-height: 22px;
    margin-top: 17px;
    margin-bottom: 0;
}

.page-about__link {
    background-color: #353535;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-top: 25px;
    padding: 18px 20px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        background-color: #ffe300;
        color: #363636;
    }
}

@media screen and (min-width: 586px) {
    .page-about {
        &::before{
            content: '';
            display: table;
            float: left;
            height: 0;
            padding-top: calc((100% - 30px * 2) / 2) // for ratio width:heigh = 2:1
        }
    }
}
