.carousel-numbers {
    color: #363636;
    font-size: 36px;
    letter-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px;
    vertical-align: top;
}
    .carousel-numbers__total-number {
        font-size: 24px;
        vertical-align: top;
    }