.page-footer {
    color: #9b9b9b;
    font-size: 12px;
    min-height: 80px;
    padding: 3px 15px;
    margin-left: auto;
    margin-right: auto;
}

.page-footer-copy {
    padding: 15px 15px;
}

    .page-footer-copy__link {
        color: #2197d7;
        text-decoration: none;
        &:hover, &:active {
            text-decoration: underline;
        }
    }

.page-footer__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    .page-footer__item {
        display: block;
    }
    .page-footer__link {
        color: #9b9b9b;
        display: inline-block;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        &:hover, &:active {
            color: #2197d7;
        }
    }

@media screen and (min-width: 620px) {
    .page-footer {
        width: 94%;
    }
    .page-footer__item {
        display: inline-block;
    }
}

@media screen and (min-width: 940px) {
    .page-footer {
        width: 90%;
    }
}

@media screen and (min-width: 1270px) {
    .page-footer {
        width: 92%;
    }
    .page-footer-copy {
        display: inline-block;
        order: 1;
    }
    .page-footer__list {
        display: inline-block;
        order: 2;
    }
    .page-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1920px) {
    .page-footer {
        width: 61.0416%;
    }
}