.page-intro__slide {
    background-color: #292929;
}

.intro-text {
    background-color: #ffe300;
    max-width: 879px;
    padding: 30px 30px;
}
    .intro-text__title {
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        &::after {
            content: "";
            background-color:  #353535;
            display: block;
            height: 5px;
            margin: 18px 0 0 0;
            width: 40px;
        }
    }

    .intro-text__text {
        font-size: 14px;
        line-height: 22px;
        margin-top: 17px;
        margin-bottom: 0;
    }

    .intro-text__link {
        background-color: #353535;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        margin-top: 34px;
        padding: 18px 20px;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            background-color: #fff;
            color: #282828;
        }
    }

.intro-video {
    background-color: #2196d8;
    background-image: url("images/video-play.png");
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    max-height: 879px;
    max-width: 879px;
    &::after {
        content: "COMPANY VIDEO";
        color: #fff;
        font-size: 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        top: 80%;
    }
}

    .intro-video__video {
        background-color: transparent;
        position: relative;
        width: 100%;
        z-index: 1;
    }

.page-intro__controls {
    background-color: #fff;
    display: none;
    z-index: 1;
    & > * {
        margin: auto;
    }
}

@media screen and (min-width: 620px) {
    .intro-text {
        &::before{
            content: '';
            display: table;
            float: left;
            height: 0;
            padding-top: calc((100% - 30px * 2) / 2) // for ratio width:heigh = 2:1
        }
    }
    .intro-video {
        &::before {
            content: '';
            display: table;
            float: left;
            height: 0;
            padding-top: 100%; // for ratio width:heigh = 1:1
        }
        &::after {
            top: 70%;
        }
    }

    .page-intro__slide {
        padding-top: 143px;
        & > * {
            transition: opacity 0.9s ease;
        }
    }
        .page-intro__slide_1st {
            background: url("images/intro-carousel-bg-1.png") center / cover no-repeat;
        }
        .page-intro__slide_2nd {
            background: url("images/intro-carousel-bg-2.png") center / cover no-repeat;
        }
        .page-intro__slide_3d {
            background: url("images/intro-carousel-bg-1.png") center / cover no-repeat;
        }

    .intro-text {
        grid-area: intro-text;
    }
    .intro-video {
        grid-area: intro-video;
    }

    .page-intro__slide.slick-slide {
        display: grid;
        grid-template-columns: 3.0928% repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            ". intro-text intro-text "
            ". .          intro-video";
    }
    .page-intro__slide[aria-hidden="true"] > * {
        opacity: 0;
    }

    .page-intro__carousel .slick-list {
        padding: 0 3% 0 0;
    }

    .page-intro__carousel {
        grid-area: carousel;
    }

    .page-intro {
        display: grid;
        grid-template-columns: 3% repeat(2, 47%) 3%;
        grid-template-rows: 143px repeat(2, 1fr);
        grid-template-areas:
            "carousel carousel carousel carousel"
            "carousel carousel carousel carousel"
            "carousel carousel carousel carousel";
    }
}

@media screen and (min-width: 970px) {
    .page-intro__slide {
        padding-top: 243px;
    }
    .page-intro__slide.slick-slide {
        grid-template-columns: 5.2632% repeat(3, 1fr);
        grid-template-areas:
            ". intro-text intro-text .          "
            ". .          .          intro-video";
    }

    .page-intro__carousel .slick-list {
        padding: 0 5% 0 0;
    }

    .page-intro__controls {
        display: block;
        display: flex;
        grid-area: 3 / 3 / 4 / span 1;
    }

    .page-intro {
        display: grid;
        grid-template-rows: 243px repeat(2, 1fr);
        grid-template-columns: 5% repeat(3, 30%) 5%;
        grid-template-areas:
            "carousel carousel carousel carousel carousel"
            "carousel carousel carousel carousel carousel"
            "carousel carousel carousel carousel carousel";
    }
}

@media screen and (min-width: 1270px) {
    .page-intro__slide.slick-slide {
        grid-template-columns: 5.4795% repeat(3, 1fr);
    }
    .page-intro__carousel .slick-list {
        padding: 0 27% 0 0;
    }
    .page-intro__controls {
        grid-area: 2 / 5 / 3 / span 1;
    }
    .page-intro {
        grid-template-columns: 4% repeat(4, 23%) 4%;
        grid-template-areas:
            "carousel carousel carousel carousel carousel carousel"
            "carousel carousel carousel carousel carousel carousel"
            "carousel carousel carousel carousel carousel carousel";
    }
}

@media screen and (min-width: 1920px) {
    .page-intro__slide.slick-slide {
        grid-template-columns: 29.8484% repeat(3, 1fr);
    }
    .page-intro__carousel .slick-list {
        padding: 0 34.7396% 0 0;
    }
    .page-intro {
        grid-template-columns: 19.4792% repeat(4, 15.2604%) 19.4792%;
        grid-template-areas:
            "carousel carousel carousel carousel carousel carousel"
            "carousel carousel carousel carousel carousel carousel"
            "carousel carousel carousel carousel carousel carousel";
    }
}