.portfolio-slide__caption {
    background-color: #fff;
    padding: 30px 30px 30px 30px;
    position: relative;
}

    .portfolio-slide__title {
        font-size: 28px;
        font-weight: bold;
        &::after {
            content: "";
            background-color:  #353535;
            display: block;
            height: 5px;
            margin: 18px 0 0 0;
            width: 40px;
        }
    }

    .portfolio-slide__desc {
        padding: 20px 0 70px 0;
    }

    .portfolio-slide__p {
        color: #9b9b9b;
        font-size: 14px;
        line-height: 22px;
        margin-top: 0;
        margin-bottom: 26px;
    }

    .portfolio-slide__link {
        background-color:  #ffe300;
        color: #363636;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        margin-top: 25px;
        padding: 18px 20px;
        text-decoration: none;
        text-transform: uppercase;
        position: absolute;
        left: 30px;
        bottom: 30px;
        &:hover {
            background-color:#353535;
            color: #fff;
        }
    }

.portfolio-slide__img {
    display: block;
    width: 100%;
    max-width: 1172px;
    margin-left: auto;
    margin-right: auto;
}

.page-portfolio__controls {
    background-color: #fff;
    display: none;
    z-index: 1;
    & > * {
        margin: auto;
    }
}

@media screen and (min-width: 620px) {
    .portfolio-slide__caption {
        &::before{
            content: '';
            display: table;
            float: left;
            height: 0;
            padding-top: calc((100% - 30px * 2) / 2) // for ratio width:heigh = 2:1
        }
    }
    .portfolio-slide__desc {
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 970px) {
    .portfolio-slide__caption {grid-area: caption;}
    .portfolio-slide__img     {grid-area: image;}
    .portfolio-slide.slick-slide {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "caption image"
            "caption image";
    }

    .page-portfolio__carousel {grid-area: 1 / 1 / span 2 / span 3;}
    .page-portfolio__controls {
        display: block;
        display: flex;
        grid-area: 2 / 3 / span 1 / span 1;
    }
    .page-portfolio {
        display: grid;
        grid-template-columns: repeat(3, 33.3333%);
        grid-template-rows: 1fr 1fr;
    }
}
