.page-price-list__link {
        background-color: #ffe300;
        color: #363636;
        display: block;
        font-size: 12px;
        padding: 30px 30px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        &::before {
            content: "";
            display: block;
            margin: 0 auto 20px auto;
            text-align: center;
            @include retina-sprite($icon-price-list-group);
        }
        &:hover {
            background-color: #2196d8;
            color: #fff;
        }
        &:hover::before {
            @include retina-sprite($icon-price-list-hover-group);
        }
    }

@media screen and (min-width: 620px) {
    .page-price-list {
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        &::before {
            content: '';
            display: table;
            float: left;
            height: 0;
            padding-top: 100%; // for ratio width:heigh = 1:1
        }
    }
    .page-price-list__link {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}