.review-card {
    background-color: #fff;
    padding: 30px 30px;
    text-align: center;
}

    .review-card__img {
        display: inline-block;
    }

    .review-card__title {
        font-size: 14px;
        font-weight: bold;
        margin: 12px auto 13.4px auto;
    }

    .review-card__rating {
        min-height: 20px;
    }

    .review-card__star {
        display: inline-block;
        margin-right: 1px;
        text-align: center;
    }

        .review-card__star_full {
            @include sprite($icon-star-full);
        }

        .review-card__star_empty {
            @include sprite($icon-star-empty);
        }

    .review-card__text {
        font-size: 14px;
        line-height: 22px;
        color: #a0a0a0;
        margin-top: 12px;
    }

.review-card__marked {
    background-color: #fcf3d3;
}

@media screen and (min-width: 620px) {
    .review-card:nth-child(1) {grid-area: first;}
    .review-card:nth-child(2) {grid-area: second;}
    .review-card:nth-child(3) {grid-area: third;}
    .page-review {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "first  first"
            "second second"
            ".      third";
    }

    .review-card:nth-child(1),
    .review-card:nth-child(2) {
        &::before{
            content: '';
            display: table;
            float: left;
            height: 0;
            padding-top: calc((100% - 30px * 2) / 2) // for ratio width:heigh = 2:1
        }
    }
    .review-card:nth-child(3) {
        &::before{
            content: '';
            display: table;
            float: left;
            height: 0;
            padding-top: 100%; // for ratio width:heigh = 1:1
        }
    }
}

@media screen and (min-width: 940px) and (max-width: 1270px) {
    .page-review {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "first  first  ."
            "second second third";
    }
}
