.page-search {
    background: url("images/search-bg.png") center / cover no-repeat;
    background-color: #292929;
    color: #fff;
    padding: 30px 30px;
    text-align: center;
}

.page-search__form {
    display: block;
    position: relative;
    width: 100%;
}

    .page-search__input-text {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        box-sizing: border-box;
        color: #fff;
        display: inline-block;
        font-size: 18px;
        outline: none;
        padding: 15px 0;
        padding-right: 18px + 2*5px + 10px;
        vertical-align: bottom;
        width: 100%;
        &::placeholder {
            color: #fff;
            opacity: 1;
        }
        &:active, &:focus {
            border-color: #ffe300;
        }
    }

    .page-search__submit-wrapper {
        background-color: transparent;
        color: #fff;
        display: inline-block;
        font-size: 18px;
        padding: 15px 5px;
        position: absolute;
        top: 0;
        right: 0;
        vertical-align: bottom;
    }

        .page-search__submit {
            border: none;
            background-color: transparent;
            cursor: pointer;
            display: inline-block;
            width: 18px + 2*5px;
            height: 18px + 2*15px;
            top: 0;
            left: 0;
            position: absolute;
            vertical-align: bottom;
        }

@media screen and (min-width: 586px) {
    .page-search {
        display: flex;
        justify-content: stretch;
        align-items: center;
    }
    .page-search__form {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 586px) and (max-width: 878px) {
    .page-search::before {
        content: '';
        display: table;
        float: left;
        height: 0;
        padding-top: calc((100% - 30px * 2) / 2); // for ratio width:heigh = 2:1
    }
}