// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-hover-name: 'icon-arrow-hover';
$icon-arrow-hover-x: 249px;
$icon-arrow-hover-y: 30px;
$icon-arrow-hover-offset-x: -249px;
$icon-arrow-hover-offset-y: -30px;
$icon-arrow-hover-width: 23px;
$icon-arrow-hover-height: 28px;
$icon-arrow-hover-total-width: 272px;
$icon-arrow-hover-total-height: 269px;
$icon-arrow-hover-image: '../img/sprite.png';
$icon-arrow-hover: (249px, 30px, -249px, -30px, 23px, 28px, 272px, 269px, '../img/sprite.png', 'icon-arrow-hover', );
$icon-arrow-nav-name: 'icon-arrow-nav';
$icon-arrow-nav-x: 266px;
$icon-arrow-nav-y: 111px;
$icon-arrow-nav-offset-x: -266px;
$icon-arrow-nav-offset-y: -111px;
$icon-arrow-nav-width: 6px;
$icon-arrow-nav-height: 7px;
$icon-arrow-nav-total-width: 272px;
$icon-arrow-nav-total-height: 269px;
$icon-arrow-nav-image: '../img/sprite.png';
$icon-arrow-nav: (266px, 111px, -266px, -111px, 6px, 7px, 272px, 269px, '../img/sprite.png', 'icon-arrow-nav', );
$icon-arrow-name: 'icon-arrow';
$icon-arrow-x: 249px;
$icon-arrow-y: 0px;
$icon-arrow-offset-x: -249px;
$icon-arrow-offset-y: 0px;
$icon-arrow-width: 23px;
$icon-arrow-height: 28px;
$icon-arrow-total-width: 272px;
$icon-arrow-total-height: 269px;
$icon-arrow-image: '../img/sprite.png';
$icon-arrow: (249px, 0px, -249px, 0px, 23px, 28px, 272px, 269px, '../img/sprite.png', 'icon-arrow', );
$icon-cart-name: 'icon-cart';
$icon-cart-x: 249px;
$icon-cart-y: 60px;
$icon-cart-offset-x: -249px;
$icon-cart-offset-y: -60px;
$icon-cart-width: 23px;
$icon-cart-height: 23px;
$icon-cart-total-width: 272px;
$icon-cart-total-height: 269px;
$icon-cart-image: '../img/sprite.png';
$icon-cart: (249px, 60px, -249px, -60px, 23px, 23px, 272px, 269px, '../img/sprite.png', 'icon-cart', );
$icon-contact-hover-name: 'icon-contact-hover';
$icon-contact-hover-x: 0px;
$icon-contact-hover-y: 172px;
$icon-contact-hover-offset-x: 0px;
$icon-contact-hover-offset-y: -172px;
$icon-contact-hover-width: 55px;
$icon-contact-hover-height: 72px;
$icon-contact-hover-total-width: 272px;
$icon-contact-hover-total-height: 269px;
$icon-contact-hover-image: '../img/sprite.png';
$icon-contact-hover: (0px, 172px, 0px, -172px, 55px, 72px, 272px, 269px, '../img/sprite.png', 'icon-contact-hover', );
$icon-contact-name: 'icon-contact';
$icon-contact-x: 57px;
$icon-contact-y: 172px;
$icon-contact-offset-x: -57px;
$icon-contact-offset-y: -172px;
$icon-contact-width: 55px;
$icon-contact-height: 72px;
$icon-contact-total-width: 272px;
$icon-contact-total-height: 269px;
$icon-contact-image: '../img/sprite.png';
$icon-contact: (57px, 172px, -57px, -172px, 55px, 72px, 272px, 269px, '../img/sprite.png', 'icon-contact', );
$icon-menu-close-name: 'icon-menu-close';
$icon-menu-close-x: 249px;
$icon-menu-close-y: 85px;
$icon-menu-close-offset-x: -249px;
$icon-menu-close-offset-y: -85px;
$icon-menu-close-width: 22px;
$icon-menu-close-height: 24px;
$icon-menu-close-total-width: 272px;
$icon-menu-close-total-height: 269px;
$icon-menu-close-image: '../img/sprite.png';
$icon-menu-close: (249px, 85px, -249px, -85px, 22px, 24px, 272px, 269px, '../img/sprite.png', 'icon-menu-close', );
$icon-menu-name: 'icon-menu';
$icon-menu-x: 0px;
$icon-menu-y: 246px;
$icon-menu-offset-x: 0px;
$icon-menu-offset-y: -246px;
$icon-menu-width: 26px;
$icon-menu-height: 23px;
$icon-menu-total-width: 272px;
$icon-menu-total-height: 269px;
$icon-menu-image: '../img/sprite.png';
$icon-menu: (0px, 246px, 0px, -246px, 26px, 23px, 272px, 269px, '../img/sprite.png', 'icon-menu', );
$icon-price-list-hover-name: 'icon-price-list-hover';
$icon-price-list-hover-x: 114px;
$icon-price-list-hover-y: 172px;
$icon-price-list-hover-offset-x: -114px;
$icon-price-list-hover-offset-y: -172px;
$icon-price-list-hover-width: 54px;
$icon-price-list-hover-height: 71px;
$icon-price-list-hover-total-width: 272px;
$icon-price-list-hover-total-height: 269px;
$icon-price-list-hover-image: '../img/sprite.png';
$icon-price-list-hover: (114px, 172px, -114px, -172px, 54px, 71px, 272px, 269px, '../img/sprite.png', 'icon-price-list-hover', );
$icon-price-list-name: 'icon-price-list';
$icon-price-list-x: 170px;
$icon-price-list-y: 172px;
$icon-price-list-offset-x: -170px;
$icon-price-list-offset-y: -172px;
$icon-price-list-width: 54px;
$icon-price-list-height: 71px;
$icon-price-list-total-width: 272px;
$icon-price-list-total-height: 269px;
$icon-price-list-image: '../img/sprite.png';
$icon-price-list: (170px, 172px, -170px, -172px, 54px, 71px, 272px, 269px, '../img/sprite.png', 'icon-price-list', );
$icon-star-empty-name: 'icon-star-empty';
$icon-star-empty-x: 249px;
$icon-star-empty-y: 111px;
$icon-star-empty-offset-x: -249px;
$icon-star-empty-offset-y: -111px;
$icon-star-empty-width: 15px;
$icon-star-empty-height: 14px;
$icon-star-empty-total-width: 272px;
$icon-star-empty-total-height: 269px;
$icon-star-empty-image: '../img/sprite.png';
$icon-star-empty: (249px, 111px, -249px, -111px, 15px, 14px, 272px, 269px, '../img/sprite.png', 'icon-star-empty', );
$icon-star-full-name: 'icon-star-full';
$icon-star-full-x: 249px;
$icon-star-full-y: 127px;
$icon-star-full-offset-x: -249px;
$icon-star-full-offset-y: -127px;
$icon-star-full-width: 15px;
$icon-star-full-height: 14px;
$icon-star-full-total-width: 272px;
$icon-star-full-total-height: 269px;
$icon-star-full-image: '../img/sprite.png';
$icon-star-full: (249px, 127px, -249px, -127px, 15px, 14px, 272px, 269px, '../img/sprite.png', 'icon-star-full', );
$icon-stat-construction-name: 'icon-stat-construction';
$icon-stat-construction-x: 87px;
$icon-stat-construction-y: 86px;
$icon-stat-construction-offset-x: -87px;
$icon-stat-construction-offset-y: -86px;
$icon-stat-construction-width: 85px;
$icon-stat-construction-height: 84px;
$icon-stat-construction-total-width: 272px;
$icon-stat-construction-total-height: 269px;
$icon-stat-construction-image: '../img/sprite.png';
$icon-stat-construction: (87px, 86px, -87px, -86px, 85px, 84px, 272px, 269px, '../img/sprite.png', 'icon-stat-construction', );
$icon-stat-expert-name: 'icon-stat-expert';
$icon-stat-expert-x: 0px;
$icon-stat-expert-y: 86px;
$icon-stat-expert-offset-x: 0px;
$icon-stat-expert-offset-y: -86px;
$icon-stat-expert-width: 85px;
$icon-stat-expert-height: 84px;
$icon-stat-expert-total-width: 272px;
$icon-stat-expert-total-height: 269px;
$icon-stat-expert-image: '../img/sprite.png';
$icon-stat-expert: (0px, 86px, 0px, -86px, 85px, 84px, 272px, 269px, '../img/sprite.png', 'icon-stat-expert', );
$icon-stat-managment-name: 'icon-stat-managment';
$icon-stat-managment-x: 87px;
$icon-stat-managment-y: 0px;
$icon-stat-managment-offset-x: -87px;
$icon-stat-managment-offset-y: 0px;
$icon-stat-managment-width: 85px;
$icon-stat-managment-height: 84px;
$icon-stat-managment-total-width: 272px;
$icon-stat-managment-total-height: 269px;
$icon-stat-managment-image: '../img/sprite.png';
$icon-stat-managment: (87px, 0px, -87px, 0px, 85px, 84px, 272px, 269px, '../img/sprite.png', 'icon-stat-managment', );
$icon-stat-procurement-name: 'icon-stat-procurement';
$icon-stat-procurement-x: 0px;
$icon-stat-procurement-y: 0px;
$icon-stat-procurement-offset-x: 0px;
$icon-stat-procurement-offset-y: 0px;
$icon-stat-procurement-width: 85px;
$icon-stat-procurement-height: 84px;
$icon-stat-procurement-total-width: 272px;
$icon-stat-procurement-total-height: 269px;
$icon-stat-procurement-image: '../img/sprite.png';
$icon-stat-procurement: (0px, 0px, 0px, 0px, 85px, 84px, 272px, 269px, '../img/sprite.png', 'icon-stat-procurement', );
$icon-work-with-us-hover-name: 'icon-work-with-us-hover';
$icon-work-with-us-hover-x: 174px;
$icon-work-with-us-hover-y: 75px;
$icon-work-with-us-hover-offset-x: -174px;
$icon-work-with-us-hover-offset-y: -75px;
$icon-work-with-us-hover-width: 73px;
$icon-work-with-us-hover-height: 73px;
$icon-work-with-us-hover-total-width: 272px;
$icon-work-with-us-hover-total-height: 269px;
$icon-work-with-us-hover-image: '../img/sprite.png';
$icon-work-with-us-hover: (174px, 75px, -174px, -75px, 73px, 73px, 272px, 269px, '../img/sprite.png', 'icon-work-with-us-hover', );
$icon-work-with-us-name: 'icon-work-with-us';
$icon-work-with-us-x: 174px;
$icon-work-with-us-y: 0px;
$icon-work-with-us-offset-x: -174px;
$icon-work-with-us-offset-y: 0px;
$icon-work-with-us-width: 73px;
$icon-work-with-us-height: 73px;
$icon-work-with-us-total-width: 272px;
$icon-work-with-us-total-height: 269px;
$icon-work-with-us-image: '../img/sprite.png';
$icon-work-with-us: (174px, 0px, -174px, 0px, 73px, 73px, 272px, 269px, '../img/sprite.png', 'icon-work-with-us', );
$icon-arrow-hover-2x-name: 'icon-arrow-hover@2x';
$icon-arrow-hover-2x-x: 498px;
$icon-arrow-hover-2x-y: 60px;
$icon-arrow-hover-2x-offset-x: -498px;
$icon-arrow-hover-2x-offset-y: -60px;
$icon-arrow-hover-2x-width: 46px;
$icon-arrow-hover-2x-height: 56px;
$icon-arrow-hover-2x-total-width: 544px;
$icon-arrow-hover-2x-total-height: 538px;
$icon-arrow-hover-2x-image: '../img/sprite@2x.png';
$icon-arrow-hover-2x: (498px, 60px, -498px, -60px, 46px, 56px, 544px, 538px, '../img/sprite@2x.png', 'icon-arrow-hover@2x', );
$icon-arrow-nav-2x-name: 'icon-arrow-nav@2x';
$icon-arrow-nav-2x-x: 532px;
$icon-arrow-nav-2x-y: 222px;
$icon-arrow-nav-2x-offset-x: -532px;
$icon-arrow-nav-2x-offset-y: -222px;
$icon-arrow-nav-2x-width: 12px;
$icon-arrow-nav-2x-height: 14px;
$icon-arrow-nav-2x-total-width: 544px;
$icon-arrow-nav-2x-total-height: 538px;
$icon-arrow-nav-2x-image: '../img/sprite@2x.png';
$icon-arrow-nav-2x: (532px, 222px, -532px, -222px, 12px, 14px, 544px, 538px, '../img/sprite@2x.png', 'icon-arrow-nav@2x', );
$icon-arrow-2x-name: 'icon-arrow@2x';
$icon-arrow-2x-x: 498px;
$icon-arrow-2x-y: 0px;
$icon-arrow-2x-offset-x: -498px;
$icon-arrow-2x-offset-y: 0px;
$icon-arrow-2x-width: 46px;
$icon-arrow-2x-height: 56px;
$icon-arrow-2x-total-width: 544px;
$icon-arrow-2x-total-height: 538px;
$icon-arrow-2x-image: '../img/sprite@2x.png';
$icon-arrow-2x: (498px, 0px, -498px, 0px, 46px, 56px, 544px, 538px, '../img/sprite@2x.png', 'icon-arrow@2x', );
$icon-cart-2x-name: 'icon-cart@2x';
$icon-cart-2x-x: 498px;
$icon-cart-2x-y: 120px;
$icon-cart-2x-offset-x: -498px;
$icon-cart-2x-offset-y: -120px;
$icon-cart-2x-width: 46px;
$icon-cart-2x-height: 46px;
$icon-cart-2x-total-width: 544px;
$icon-cart-2x-total-height: 538px;
$icon-cart-2x-image: '../img/sprite@2x.png';
$icon-cart-2x: (498px, 120px, -498px, -120px, 46px, 46px, 544px, 538px, '../img/sprite@2x.png', 'icon-cart@2x', );
$icon-contact-hover-2x-name: 'icon-contact-hover@2x';
$icon-contact-hover-2x-x: 0px;
$icon-contact-hover-2x-y: 344px;
$icon-contact-hover-2x-offset-x: 0px;
$icon-contact-hover-2x-offset-y: -344px;
$icon-contact-hover-2x-width: 110px;
$icon-contact-hover-2x-height: 144px;
$icon-contact-hover-2x-total-width: 544px;
$icon-contact-hover-2x-total-height: 538px;
$icon-contact-hover-2x-image: '../img/sprite@2x.png';
$icon-contact-hover-2x: (0px, 344px, 0px, -344px, 110px, 144px, 544px, 538px, '../img/sprite@2x.png', 'icon-contact-hover@2x', );
$icon-contact-2x-name: 'icon-contact@2x';
$icon-contact-2x-x: 114px;
$icon-contact-2x-y: 344px;
$icon-contact-2x-offset-x: -114px;
$icon-contact-2x-offset-y: -344px;
$icon-contact-2x-width: 110px;
$icon-contact-2x-height: 144px;
$icon-contact-2x-total-width: 544px;
$icon-contact-2x-total-height: 538px;
$icon-contact-2x-image: '../img/sprite@2x.png';
$icon-contact-2x: (114px, 344px, -114px, -344px, 110px, 144px, 544px, 538px, '../img/sprite@2x.png', 'icon-contact@2x', );
$icon-menu-close-2x-name: 'icon-menu-close@2x';
$icon-menu-close-2x-x: 498px;
$icon-menu-close-2x-y: 170px;
$icon-menu-close-2x-offset-x: -498px;
$icon-menu-close-2x-offset-y: -170px;
$icon-menu-close-2x-width: 44px;
$icon-menu-close-2x-height: 48px;
$icon-menu-close-2x-total-width: 544px;
$icon-menu-close-2x-total-height: 538px;
$icon-menu-close-2x-image: '../img/sprite@2x.png';
$icon-menu-close-2x: (498px, 170px, -498px, -170px, 44px, 48px, 544px, 538px, '../img/sprite@2x.png', 'icon-menu-close@2x', );
$icon-menu-2x-name: 'icon-menu@2x';
$icon-menu-2x-x: 0px;
$icon-menu-2x-y: 492px;
$icon-menu-2x-offset-x: 0px;
$icon-menu-2x-offset-y: -492px;
$icon-menu-2x-width: 52px;
$icon-menu-2x-height: 46px;
$icon-menu-2x-total-width: 544px;
$icon-menu-2x-total-height: 538px;
$icon-menu-2x-image: '../img/sprite@2x.png';
$icon-menu-2x: (0px, 492px, 0px, -492px, 52px, 46px, 544px, 538px, '../img/sprite@2x.png', 'icon-menu@2x', );
$icon-price-list-hover-2x-name: 'icon-price-list-hover@2x';
$icon-price-list-hover-2x-x: 228px;
$icon-price-list-hover-2x-y: 344px;
$icon-price-list-hover-2x-offset-x: -228px;
$icon-price-list-hover-2x-offset-y: -344px;
$icon-price-list-hover-2x-width: 108px;
$icon-price-list-hover-2x-height: 142px;
$icon-price-list-hover-2x-total-width: 544px;
$icon-price-list-hover-2x-total-height: 538px;
$icon-price-list-hover-2x-image: '../img/sprite@2x.png';
$icon-price-list-hover-2x: (228px, 344px, -228px, -344px, 108px, 142px, 544px, 538px, '../img/sprite@2x.png', 'icon-price-list-hover@2x', );
$icon-price-list-2x-name: 'icon-price-list@2x';
$icon-price-list-2x-x: 340px;
$icon-price-list-2x-y: 344px;
$icon-price-list-2x-offset-x: -340px;
$icon-price-list-2x-offset-y: -344px;
$icon-price-list-2x-width: 108px;
$icon-price-list-2x-height: 142px;
$icon-price-list-2x-total-width: 544px;
$icon-price-list-2x-total-height: 538px;
$icon-price-list-2x-image: '../img/sprite@2x.png';
$icon-price-list-2x: (340px, 344px, -340px, -344px, 108px, 142px, 544px, 538px, '../img/sprite@2x.png', 'icon-price-list@2x', );
$icon-star-empty-2x-name: 'icon-star-empty@2x';
$icon-star-empty-2x-x: 498px;
$icon-star-empty-2x-y: 222px;
$icon-star-empty-2x-offset-x: -498px;
$icon-star-empty-2x-offset-y: -222px;
$icon-star-empty-2x-width: 30px;
$icon-star-empty-2x-height: 28px;
$icon-star-empty-2x-total-width: 544px;
$icon-star-empty-2x-total-height: 538px;
$icon-star-empty-2x-image: '../img/sprite@2x.png';
$icon-star-empty-2x: (498px, 222px, -498px, -222px, 30px, 28px, 544px, 538px, '../img/sprite@2x.png', 'icon-star-empty@2x', );
$icon-star-full-2x-name: 'icon-star-full@2x';
$icon-star-full-2x-x: 498px;
$icon-star-full-2x-y: 254px;
$icon-star-full-2x-offset-x: -498px;
$icon-star-full-2x-offset-y: -254px;
$icon-star-full-2x-width: 30px;
$icon-star-full-2x-height: 28px;
$icon-star-full-2x-total-width: 544px;
$icon-star-full-2x-total-height: 538px;
$icon-star-full-2x-image: '../img/sprite@2x.png';
$icon-star-full-2x: (498px, 254px, -498px, -254px, 30px, 28px, 544px, 538px, '../img/sprite@2x.png', 'icon-star-full@2x', );
$icon-stat-construction-2x-name: 'icon-stat-construction@2x';
$icon-stat-construction-2x-x: 174px;
$icon-stat-construction-2x-y: 172px;
$icon-stat-construction-2x-offset-x: -174px;
$icon-stat-construction-2x-offset-y: -172px;
$icon-stat-construction-2x-width: 170px;
$icon-stat-construction-2x-height: 168px;
$icon-stat-construction-2x-total-width: 544px;
$icon-stat-construction-2x-total-height: 538px;
$icon-stat-construction-2x-image: '../img/sprite@2x.png';
$icon-stat-construction-2x: (174px, 172px, -174px, -172px, 170px, 168px, 544px, 538px, '../img/sprite@2x.png', 'icon-stat-construction@2x', );
$icon-stat-expert-2x-name: 'icon-stat-expert@2x';
$icon-stat-expert-2x-x: 0px;
$icon-stat-expert-2x-y: 172px;
$icon-stat-expert-2x-offset-x: 0px;
$icon-stat-expert-2x-offset-y: -172px;
$icon-stat-expert-2x-width: 170px;
$icon-stat-expert-2x-height: 168px;
$icon-stat-expert-2x-total-width: 544px;
$icon-stat-expert-2x-total-height: 538px;
$icon-stat-expert-2x-image: '../img/sprite@2x.png';
$icon-stat-expert-2x: (0px, 172px, 0px, -172px, 170px, 168px, 544px, 538px, '../img/sprite@2x.png', 'icon-stat-expert@2x', );
$icon-stat-managment-2x-name: 'icon-stat-managment@2x';
$icon-stat-managment-2x-x: 174px;
$icon-stat-managment-2x-y: 0px;
$icon-stat-managment-2x-offset-x: -174px;
$icon-stat-managment-2x-offset-y: 0px;
$icon-stat-managment-2x-width: 170px;
$icon-stat-managment-2x-height: 168px;
$icon-stat-managment-2x-total-width: 544px;
$icon-stat-managment-2x-total-height: 538px;
$icon-stat-managment-2x-image: '../img/sprite@2x.png';
$icon-stat-managment-2x: (174px, 0px, -174px, 0px, 170px, 168px, 544px, 538px, '../img/sprite@2x.png', 'icon-stat-managment@2x', );
$icon-stat-procurement-2x-name: 'icon-stat-procurement@2x';
$icon-stat-procurement-2x-x: 0px;
$icon-stat-procurement-2x-y: 0px;
$icon-stat-procurement-2x-offset-x: 0px;
$icon-stat-procurement-2x-offset-y: 0px;
$icon-stat-procurement-2x-width: 170px;
$icon-stat-procurement-2x-height: 168px;
$icon-stat-procurement-2x-total-width: 544px;
$icon-stat-procurement-2x-total-height: 538px;
$icon-stat-procurement-2x-image: '../img/sprite@2x.png';
$icon-stat-procurement-2x: (0px, 0px, 0px, 0px, 170px, 168px, 544px, 538px, '../img/sprite@2x.png', 'icon-stat-procurement@2x', );
$icon-work-with-us-hover-2x-name: 'icon-work-with-us-hover@2x';
$icon-work-with-us-hover-2x-x: 348px;
$icon-work-with-us-hover-2x-y: 150px;
$icon-work-with-us-hover-2x-offset-x: -348px;
$icon-work-with-us-hover-2x-offset-y: -150px;
$icon-work-with-us-hover-2x-width: 146px;
$icon-work-with-us-hover-2x-height: 146px;
$icon-work-with-us-hover-2x-total-width: 544px;
$icon-work-with-us-hover-2x-total-height: 538px;
$icon-work-with-us-hover-2x-image: '../img/sprite@2x.png';
$icon-work-with-us-hover-2x: (348px, 150px, -348px, -150px, 146px, 146px, 544px, 538px, '../img/sprite@2x.png', 'icon-work-with-us-hover@2x', );
$icon-work-with-us-2x-name: 'icon-work-with-us@2x';
$icon-work-with-us-2x-x: 348px;
$icon-work-with-us-2x-y: 0px;
$icon-work-with-us-2x-offset-x: -348px;
$icon-work-with-us-2x-offset-y: 0px;
$icon-work-with-us-2x-width: 146px;
$icon-work-with-us-2x-height: 146px;
$icon-work-with-us-2x-total-width: 544px;
$icon-work-with-us-2x-total-height: 538px;
$icon-work-with-us-2x-image: '../img/sprite@2x.png';
$icon-work-with-us-2x: (348px, 0px, -348px, 0px, 146px, 146px, 544px, 538px, '../img/sprite@2x.png', 'icon-work-with-us@2x', );
$spritesheet-width: 272px;
$spritesheet-height: 269px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-arrow-hover, $icon-arrow-nav, $icon-arrow, $icon-cart, $icon-contact-hover, $icon-contact, $icon-menu-close, $icon-menu, $icon-price-list-hover, $icon-price-list, $icon-star-empty, $icon-star-full, $icon-stat-construction, $icon-stat-expert, $icon-stat-managment, $icon-stat-procurement, $icon-work-with-us-hover, $icon-work-with-us, );
$spritesheet: (272px, 269px, '../img/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 544px;
$retina-spritesheet-height: 538px;
$retina-spritesheet-image: '../img/sprite@2x.png';
$retina-spritesheet-sprites: ($icon-arrow-hover-2x, $icon-arrow-nav-2x, $icon-arrow-2x, $icon-cart-2x, $icon-contact-hover-2x, $icon-contact-2x, $icon-menu-close-2x, $icon-menu-2x, $icon-price-list-hover-2x, $icon-price-list-2x, $icon-star-empty-2x, $icon-star-full-2x, $icon-stat-construction-2x, $icon-stat-expert-2x, $icon-stat-managment-2x, $icon-stat-procurement-2x, $icon-work-with-us-hover-2x, $icon-work-with-us-2x, );
$retina-spritesheet: (544px, 538px, '../img/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$icon-arrow-hover-group-name: 'icon-arrow-hover';
$icon-arrow-hover-group: ('icon-arrow-hover', $icon-arrow-hover, $icon-arrow-hover-2x, );
$icon-arrow-nav-group-name: 'icon-arrow-nav';
$icon-arrow-nav-group: ('icon-arrow-nav', $icon-arrow-nav, $icon-arrow-nav-2x, );
$icon-arrow-group-name: 'icon-arrow';
$icon-arrow-group: ('icon-arrow', $icon-arrow, $icon-arrow-2x, );
$icon-cart-group-name: 'icon-cart';
$icon-cart-group: ('icon-cart', $icon-cart, $icon-cart-2x, );
$icon-contact-hover-group-name: 'icon-contact-hover';
$icon-contact-hover-group: ('icon-contact-hover', $icon-contact-hover, $icon-contact-hover-2x, );
$icon-contact-group-name: 'icon-contact';
$icon-contact-group: ('icon-contact', $icon-contact, $icon-contact-2x, );
$icon-menu-close-group-name: 'icon-menu-close';
$icon-menu-close-group: ('icon-menu-close', $icon-menu-close, $icon-menu-close-2x, );
$icon-menu-group-name: 'icon-menu';
$icon-menu-group: ('icon-menu', $icon-menu, $icon-menu-2x, );
$icon-price-list-hover-group-name: 'icon-price-list-hover';
$icon-price-list-hover-group: ('icon-price-list-hover', $icon-price-list-hover, $icon-price-list-hover-2x, );
$icon-price-list-group-name: 'icon-price-list';
$icon-price-list-group: ('icon-price-list', $icon-price-list, $icon-price-list-2x, );
$icon-star-empty-group-name: 'icon-star-empty';
$icon-star-empty-group: ('icon-star-empty', $icon-star-empty, $icon-star-empty-2x, );
$icon-star-full-group-name: 'icon-star-full';
$icon-star-full-group: ('icon-star-full', $icon-star-full, $icon-star-full-2x, );
$icon-stat-construction-group-name: 'icon-stat-construction';
$icon-stat-construction-group: ('icon-stat-construction', $icon-stat-construction, $icon-stat-construction-2x, );
$icon-stat-expert-group-name: 'icon-stat-expert';
$icon-stat-expert-group: ('icon-stat-expert', $icon-stat-expert, $icon-stat-expert-2x, );
$icon-stat-managment-group-name: 'icon-stat-managment';
$icon-stat-managment-group: ('icon-stat-managment', $icon-stat-managment, $icon-stat-managment-2x, );
$icon-stat-procurement-group-name: 'icon-stat-procurement';
$icon-stat-procurement-group: ('icon-stat-procurement', $icon-stat-procurement, $icon-stat-procurement-2x, );
$icon-work-with-us-hover-group-name: 'icon-work-with-us-hover';
$icon-work-with-us-hover-group: ('icon-work-with-us-hover', $icon-work-with-us-hover, $icon-work-with-us-hover-2x, );
$icon-work-with-us-group-name: 'icon-work-with-us';
$icon-work-with-us-group: ('icon-work-with-us', $icon-work-with-us, $icon-work-with-us-2x, );
$retina-groups: ($icon-arrow-hover-group, $icon-arrow-nav-group, $icon-arrow-group, $icon-cart-group, $icon-contact-hover-group, $icon-contact-group, $icon-menu-close-group, $icon-menu-group, $icon-price-list-hover-group, $icon-price-list-group, $icon-star-empty-group, $icon-star-full-group, $icon-stat-construction-group, $icon-stat-expert-group, $icon-stat-managment-group, $icon-stat-procurement-group, $icon-work-with-us-hover-group, $icon-work-with-us-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
