// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-cart-name: 'icon-cart';
$icon-cart-x: 249px;
$icon-cart-y: 25px;
$icon-cart-offset-x: -249px;
$icon-cart-offset-y: -25px;
$icon-cart-width: 23px;
$icon-cart-height: 23px;
$icon-cart-total-width: 275px;
$icon-cart-total-height: 244px;
$icon-cart-image: './images/sprite.png';
$icon-cart: (249px, 25px, -249px, -25px, 23px, 23px, 275px, 244px, './images/sprite.png', 'icon-cart', );
$icon-contact-hover-name: 'icon-contact-hover';
$icon-contact-hover-x: 57px;
$icon-contact-hover-y: 172px;
$icon-contact-hover-offset-x: -57px;
$icon-contact-hover-offset-y: -172px;
$icon-contact-hover-width: 55px;
$icon-contact-hover-height: 72px;
$icon-contact-hover-total-width: 275px;
$icon-contact-hover-total-height: 244px;
$icon-contact-hover-image: './images/sprite.png';
$icon-contact-hover: (57px, 172px, -57px, -172px, 55px, 72px, 275px, 244px, './images/sprite.png', 'icon-contact-hover', );
$icon-contact-name: 'icon-contact';
$icon-contact-x: 0px;
$icon-contact-y: 172px;
$icon-contact-offset-x: 0px;
$icon-contact-offset-y: -172px;
$icon-contact-width: 55px;
$icon-contact-height: 72px;
$icon-contact-total-width: 275px;
$icon-contact-total-height: 244px;
$icon-contact-image: './images/sprite.png';
$icon-contact: (0px, 172px, 0px, -172px, 55px, 72px, 275px, 244px, './images/sprite.png', 'icon-contact', );
$icon-menu-name: 'icon-menu';
$icon-menu-x: 249px;
$icon-menu-y: 0px;
$icon-menu-offset-x: -249px;
$icon-menu-offset-y: 0px;
$icon-menu-width: 26px;
$icon-menu-height: 23px;
$icon-menu-total-width: 275px;
$icon-menu-total-height: 244px;
$icon-menu-image: './images/sprite.png';
$icon-menu: (249px, 0px, -249px, 0px, 26px, 23px, 275px, 244px, './images/sprite.png', 'icon-menu', );
$icon-price-list-hover-name: 'icon-price-list-hover';
$icon-price-list-hover-x: 170px;
$icon-price-list-hover-y: 172px;
$icon-price-list-hover-offset-x: -170px;
$icon-price-list-hover-offset-y: -172px;
$icon-price-list-hover-width: 54px;
$icon-price-list-hover-height: 71px;
$icon-price-list-hover-total-width: 275px;
$icon-price-list-hover-total-height: 244px;
$icon-price-list-hover-image: './images/sprite.png';
$icon-price-list-hover: (170px, 172px, -170px, -172px, 54px, 71px, 275px, 244px, './images/sprite.png', 'icon-price-list-hover', );
$icon-price-list-name: 'icon-price-list';
$icon-price-list-x: 114px;
$icon-price-list-y: 172px;
$icon-price-list-offset-x: -114px;
$icon-price-list-offset-y: -172px;
$icon-price-list-width: 54px;
$icon-price-list-height: 71px;
$icon-price-list-total-width: 275px;
$icon-price-list-total-height: 244px;
$icon-price-list-image: './images/sprite.png';
$icon-price-list: (114px, 172px, -114px, -172px, 54px, 71px, 275px, 244px, './images/sprite.png', 'icon-price-list', );
$icon-star-empty-name: 'icon-star-empty';
$icon-star-empty-x: 249px;
$icon-star-empty-y: 50px;
$icon-star-empty-offset-x: -249px;
$icon-star-empty-offset-y: -50px;
$icon-star-empty-width: 15px;
$icon-star-empty-height: 14px;
$icon-star-empty-total-width: 275px;
$icon-star-empty-total-height: 244px;
$icon-star-empty-image: './images/sprite.png';
$icon-star-empty: (249px, 50px, -249px, -50px, 15px, 14px, 275px, 244px, './images/sprite.png', 'icon-star-empty', );
$icon-star-full-name: 'icon-star-full';
$icon-star-full-x: 249px;
$icon-star-full-y: 66px;
$icon-star-full-offset-x: -249px;
$icon-star-full-offset-y: -66px;
$icon-star-full-width: 15px;
$icon-star-full-height: 14px;
$icon-star-full-total-width: 275px;
$icon-star-full-total-height: 244px;
$icon-star-full-image: './images/sprite.png';
$icon-star-full: (249px, 66px, -249px, -66px, 15px, 14px, 275px, 244px, './images/sprite.png', 'icon-star-full', );
$icon-stat-construction-name: 'icon-stat-construction';
$icon-stat-construction-x: 87px;
$icon-stat-construction-y: 86px;
$icon-stat-construction-offset-x: -87px;
$icon-stat-construction-offset-y: -86px;
$icon-stat-construction-width: 85px;
$icon-stat-construction-height: 84px;
$icon-stat-construction-total-width: 275px;
$icon-stat-construction-total-height: 244px;
$icon-stat-construction-image: './images/sprite.png';
$icon-stat-construction: (87px, 86px, -87px, -86px, 85px, 84px, 275px, 244px, './images/sprite.png', 'icon-stat-construction', );
$icon-stat-expert-name: 'icon-stat-expert';
$icon-stat-expert-x: 0px;
$icon-stat-expert-y: 86px;
$icon-stat-expert-offset-x: 0px;
$icon-stat-expert-offset-y: -86px;
$icon-stat-expert-width: 85px;
$icon-stat-expert-height: 84px;
$icon-stat-expert-total-width: 275px;
$icon-stat-expert-total-height: 244px;
$icon-stat-expert-image: './images/sprite.png';
$icon-stat-expert: (0px, 86px, 0px, -86px, 85px, 84px, 275px, 244px, './images/sprite.png', 'icon-stat-expert', );
$icon-stat-managment-name: 'icon-stat-managment';
$icon-stat-managment-x: 87px;
$icon-stat-managment-y: 0px;
$icon-stat-managment-offset-x: -87px;
$icon-stat-managment-offset-y: 0px;
$icon-stat-managment-width: 85px;
$icon-stat-managment-height: 84px;
$icon-stat-managment-total-width: 275px;
$icon-stat-managment-total-height: 244px;
$icon-stat-managment-image: './images/sprite.png';
$icon-stat-managment: (87px, 0px, -87px, 0px, 85px, 84px, 275px, 244px, './images/sprite.png', 'icon-stat-managment', );
$icon-stat-procurement-name: 'icon-stat-procurement';
$icon-stat-procurement-x: 0px;
$icon-stat-procurement-y: 0px;
$icon-stat-procurement-offset-x: 0px;
$icon-stat-procurement-offset-y: 0px;
$icon-stat-procurement-width: 85px;
$icon-stat-procurement-height: 84px;
$icon-stat-procurement-total-width: 275px;
$icon-stat-procurement-total-height: 244px;
$icon-stat-procurement-image: './images/sprite.png';
$icon-stat-procurement: (0px, 0px, 0px, 0px, 85px, 84px, 275px, 244px, './images/sprite.png', 'icon-stat-procurement', );
$icon-work-with-us-hover-name: 'icon-work-with-us-hover';
$icon-work-with-us-hover-x: 174px;
$icon-work-with-us-hover-y: 75px;
$icon-work-with-us-hover-offset-x: -174px;
$icon-work-with-us-hover-offset-y: -75px;
$icon-work-with-us-hover-width: 73px;
$icon-work-with-us-hover-height: 73px;
$icon-work-with-us-hover-total-width: 275px;
$icon-work-with-us-hover-total-height: 244px;
$icon-work-with-us-hover-image: './images/sprite.png';
$icon-work-with-us-hover: (174px, 75px, -174px, -75px, 73px, 73px, 275px, 244px, './images/sprite.png', 'icon-work-with-us-hover', );
$icon-work-with-us-name: 'icon-work-with-us';
$icon-work-with-us-x: 174px;
$icon-work-with-us-y: 0px;
$icon-work-with-us-offset-x: -174px;
$icon-work-with-us-offset-y: 0px;
$icon-work-with-us-width: 73px;
$icon-work-with-us-height: 73px;
$icon-work-with-us-total-width: 275px;
$icon-work-with-us-total-height: 244px;
$icon-work-with-us-image: './images/sprite.png';
$icon-work-with-us: (174px, 0px, -174px, 0px, 73px, 73px, 275px, 244px, './images/sprite.png', 'icon-work-with-us', );
$spritesheet-width: 275px;
$spritesheet-height: 244px;
$spritesheet-image: './images/sprite.png';
$spritesheet-sprites: ($icon-cart, $icon-contact-hover, $icon-contact, $icon-menu, $icon-price-list-hover, $icon-price-list, $icon-star-empty, $icon-star-full, $icon-stat-construction, $icon-stat-expert, $icon-stat-managment, $icon-stat-procurement, $icon-work-with-us-hover, $icon-work-with-us, );
$spritesheet: (275px, 244px, './images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
