.page-work-with-us__link {
        background-color: #ffe300;
        color: #363636;
        display: block;
        font-size: 12px;
        padding: 30px 30px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        &::before {
            content: "";
            display: block;
            margin: 0 auto 20px auto;
            text-align: center;
            @include sprite($icon-work-with-us);
        }
        &:hover {
            background-color: #2196d8;
            color: #fff;
        }
        &:hover::before {
            @include sprite($icon-work-with-us-hover);
        }
    }