doctype html
html
    head
        meta(charset="utf-8")
        title FDN
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
        link(rel="stylesheet" type="text/css" href="css/main.min.css")
    body
        include include/page-header.pug
        main
            include include/page-intro.pug
            include include/page-services.pug
            include include/page-price-list.pug
            include include/page-contact-us.pug
            include include/page-search.pug
            include include/page-reviews.pug
            include include/page-news.pug
            include include/page-about.pug
            include include/page-stat.pug
            include include/page-portfolio.pug
            include include/page-work-with-us.pug
            include include/page-subscribe.pug
        include include/page-footer.pug