@import "partial/_normalize";

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
    background-color: #f5f5f5;
    color: #363636;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

@import "partial/_lib";

@import "partial/_sprite";
@include retina-sprites($retina-groups);
@import "partial/_carousel-controls";

@import "partial/_main-nav";
@import "partial/_header";
@import "partial/_main";
@import "partial/_intro";
@import "partial/_services";
@import "partial/_price-list";
@import "partial/_contact-us";
@import "partial/_search";
@import "partial/_reviews";
@import "partial/_news";
@import "partial/_about";
@import "partial/_stat";
@import "partial/_portfolio";
@import "partial/_work-with-us";
@import "partial/_subscribe";
@import "partial/_footer";
