nav.main-menu#main-menu
    h3.main-menu__title NAVIGATION
    a(href="#").main-menu__close#main-menu__close
    ul.main-menu-list
        li.main-menu-list__item
            a.main-menu-list__link(href="#page-header") Home
        li.main-menu-list__item
            a.main-menu-list__link.accordion(href="#page-services") Services
            ul.submenu.accordion-panel
                li.submenu__item
                    a(href="#page-services").submenu__link.main-menu-list__link General contracting
                li.menu-services__item
                    a(href="#page-services").submenu__link.main-menu-list__link Project design and engineering
                li.menu-services__item
                    a(href="#page-services").submenu__link.main-menu-list__link Capital improvements
        li.main-menu-list__item
            a.main-menu-list__link.accordion(href="#page-portfolio") Our Works
            ul.submenu.accordion-panel
                li.menu-works__item
                    a(href="#").submenu__link.main-menu-list__link Lorem ipsum dolor sit
                li.menu-works__item
                    a(href="#").submenu__link.main-menu-list__link Lorem ipsum dolor sit
        li.main-menu-list__item
            a.main-menu-list__link.accordion(href="#page-news") News &amp; events
            ul.submenu.accordion-panel
                li.menu-news__item
                    a(href="#").submenu__link.main-menu-list__link Lorem ipsum dolor sit
                li.menu-works__item
                    a(href="#").submenu__link.main-menu-list__link Lorem ipsum dolor sit
        li.main-menu-list__item
            a.main-menu-list__link(href="#page-work-with-us") Work with us
        li.main-menu-list__item
            a.main-menu-list__link(href="#") F.A.Q.
        li.main-menu-list__item
            a.main-menu-list__link(href="#page-contact-us") Contact us
        li.main-menu-list__item
            a.main-menu-list__link.accordion(href="#") Shop
            ul.submenu.accordion-panel
                li.menu-shop__item
                    a(href="#").submenu__link.main-menu-list__link Lorem ipsum dolor sit
                li.menu-works__item
                    a(href="#").submenu__link.main-menu-list__link Lorem ipsum dolor sit
    .contacts
        .contacts__map-marker.fas.fa-map-marker
        .contacts__address Stlemixthemes USA, Callifornia 20, Firs Avenue, 2365 Callifornia
        .contacts__phone +1 888 111 68 68
        .contacts__work-hours 6:00 - 18:00 sunday closed
        a(href="mailto:info@stylemixthemes.com").contacts__email info@stylemixthemes.com
    form.menu-search
        input(type="text" placeholder="Search").menu-search__input-text
        span.menu-search__submit-wrapper.fas.fa-search
            input(type="submit" value=">").menu-search__submit