section#page-stat.page-stat
    .stat-card.stat-card_expert
        .stat-card__img.stat-card__img_expert
        .stat-card__number 55 000
        .stat-card__desc Expert Witness
    .stat-card.stat-card_construction
        .stat-card__img.stat-card__img_construction
        .stat-card__number 124 600
        .stat-card__desc Construction
    .stat-card.stat-card_procurement
        .stat-card__img.stat-card__img_procurement
        .stat-card__number 18 000
        .stat-card__desc Procurement
    .stat-card.stat-card_managment
        .stat-card__img.stat-card__img_managment
        .stat-card__number 78 150
        .stat-card__desc Project Managments
