section#page-news.page-news
    h3.page-news__title NEWS
    .news-slide
        .news-slide__date 12 february, 2015
        h3.news-slide__heading
            a(href="#").news-slide__news-link Project Design and Engineering Services
        a(href="#").news-slide__comments 23 comments
