section#page-news.page-news
    h2.page-news__title NEWS
    .news-carousel
        .news-slide
            .news-slide__date 12 February, 2018
            h3.news-slide__heading
                a(href="#").news-slide__news-link Project Design and Engineering Services
            a(href="#").news-slide__comments 23 comments
        .news-slide
            .news-slide__date 25 May, 2018
            h3.news-slide__heading
                a(href="#").news-slide__news-link  Lorem Ipsum Dolor Sit Amet
            a(href="#").news-slide__comments 8 comments
        .news-slide
            .news-slide__date 11 June, 2018
            h3.news-slide__heading
                a(href="#").news-slide__news-link  Lorem Ipsum Dolor Sit Amet
            a(href="#").news-slide__comments 5 comments
