footer#page-footer.page-footer
    .page-footer-copy 2018 &copy; Copyright - Foundation theme by
        |
        |
        a(href="#") Stylemixthemes
    ul.page-footer__list
        li.page-footer__item
            a(href="#").page-footer__link Services
        li.page-footer__item
            a(href="#").page-footer__link Our Works
        li.page-footer__item
            a(href="#").page-footer__link News &amp; events
        li.page-footer__item
            a(href="#").page-footer__link Work with us
        li.page-footer__item
            a(href="#").page-footer__link F.A.Q
        li.page-footer__item
            a(href="#").page-footer__link Contact us
        li.page-footer__item
            a(href="#").page-footer__link Shop
