header#page-header.page-header
    .logo
        .logo-img
        .logo-text FDN
    .short-menu
        a(href="#").fab.fa-facebook-f
        a(href="#").fab.fa-twitter
        a(href="#").cart
        a(href="#").menu-icon