section#page-review.page-review
    .review-card
        img(src="img/review.png" alt="Martin H. Jhonsons").review-card__img
        h4.review-card__title Martin H. Jhonsons
        .review-card__rating
            span.review-card__star.review-card__star_full
            span.review-card__star.review-card__star_full
            span.review-card__star.review-card__star_full
            span.review-card__star.review-card__star_full
            span.review-card__star.review-card__star_empty
        p.review-card__text Together, we'll couple our knowledge, expertise, and innovative capabilities with your astute knowledge of your business—to maximize and optimize results. This is all accomplished in a number of ways.
    .review-card
        img(src="img/review.png" alt="Tony SH. Schults").review-card__img
        h4.review-card__title Tony SH. Schults
        .review-card__rating
            span.review-card__star.review-card__star_full
            span.review-card__star.review-card__star_full
            span.review-card__star.review-card__star_full
            span.review-card__star.review-card__star_full
            span.review-card__star.review-card__star_full
        p.review-card__text  When selecting DMCS as the design-build team, clients benefit in terms of efficiency and continuity that translate into cost savings and optimized schedules. Contact us today and see how DMCS can best serve you from concept-through-construction.
    .review-card
        img(src="img/review.png" alt="David Mc. Adams").review-card__img
        h4.review-card__title David Mc. Adams
        .review-card__rating
            span.review-card__star.review-card__star_full
            span.review-card__star.review-card__star_full
            span.review-card__star.review-card__star_full
            span.review-card__star.review-card__star_full
            span.review-card__star.review-card__star_empty
        p.review-card__text In most urban areas, construction has already built existing structures, many having been standing for decades.
