section#page-search.page-search
    form.page-search__form
        input(type="text" placeholder="What are you looking for?").page-search__input-text
        span.page-search__submit-wrapper.fas.fa-search
            input(type="submit" value="").page-search__submit
