section#page-portfolio.page-portfolio
    .portfolio-slide
        .portfolio-slide__caption
            h2.portfolio-slide__title Contemporary Villa
            .portfolio-slide__desc
                p.portfolio-slide__p Diversity is a buzzword often heard by brand managers, business tycoons, politicians, and more; but it's much more than that. To us at DM Construction, diversity is the name of the game.
                p.portfolio-slide__p We offer a diverse set of skills to all clients in all fields, but also offer a diverse group of individuals who are able to deliver those skills. From Construction Managers and Project Managers, to licensed Architects and Engineers, Designers, Business Development gurus, Construction Superintendents and Construction Project Engineers, DM Construction has a strong team that is as diverse as they are skilled.
            a(href="#").portfolio-slide__link VIEW PROJECT
        img(src="img/portfolio.png" alt="Contemporary Villa").portfolio-slide__img

