section#page-subscribe.page-subscribe
    h2.page-subscribe__title SUBSCRIBE
    form.page-subscribe__form
        input(type="email" placeholder="Email").page-subscribe__field
        input(type="submit" value="SIGN UP").page-subscribe__submit
