section#page-intro.page-intro
    .page-intro__carousel
        .page-intro__slide
            .intro-text
                h2.intro-text__title BUILDING THE WORLD AROUND US
                p.intro-text__text Still other clients have reserved for capital improvement projects and will work directly with our Design and Engineering team.
                a(href="#").intro-text__link READ MORE
            .intro-video
                video.intro-video__video(preload="none")
                    source(src="" type="")
                    | Your browser does not support the video tag.
                    a(href="") Download
                    | the video instead.
        .page-intro__slide
            .intro-text
                h2.intro-text__title Lorem ipsum dolor sit amet
                p.intro-text__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam saepe sapiente inventore praesentium veniam quam, maiores cum pariatur provident.
                a(href="#").intro-text__link READ MORE
            .intro-video
                video.intro-video__video(preload="none")
                    source(src="" type="")
                    | Your browser does not support the video tag.
                    a(href="") Download
                    | the video instead.
    .page-intro__controls
        .page-intro__numbers 01
            span.page-intro__numbers_index /03
