header#page-header.page-header
    .logo
        .logo-img
        .logo-text FDN
    .short-menu
        a(href="#").fab.fa-facebook-f.short-menu__link
        a(href="#").fab.fa-twitter.short-menu__link
        a(href="#").short-menu__link
            span.cart
        a(href="#").short-menu__link
            span.menu-icon