section#page-services.page-services
    .services-desc
        h2.services-desc__title OUR SERVICES
        p.services-desc__text Our mission is to provide the highest level of service for our client-partners from concept through construction.
    .services-carousel
        .services-carousel__slide
            .services-card
                img.services-card__img(src="img/services.png" alt="General contracting")
                .services-card__desc
                    h3.services-card__title General contracting
                    p.services-card__text This allows the Design and Engineering team to originate drawings, specifications, structural calculations, details and scopes of work that deliver exactly what the client had intended to achieve.
            .services-card
                img.services-card__img(src="img/services.png" alt="Capital improvements")
                .services-card__desc
                    h3.services-card__title Capital improvements
                    p.services-card__text This results in scope creep and slippage of the schedule that ultimately result in additional costs to the owner.
            .services-card
                img.services-card__img(src="img/services.png" alt="Project design and engineering")
                .services-card__desc
                    h3.services-card__title Project design and engineering
                    p.services-card__text Through Stage-Gate, Design and Engineering methodology, DMCS ensure client-partners realize clearly defined project objective to achieve intended results.
        .services-carousel__slide
            .services-card
                img.services-card__img(src="img/services.png" alt="General contracting")
                .services-card__desc
                    h3.services-card__title Lorem ipsum
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita labore, facilis nam id illo vero, corporis accusantium, fuga temporibus qui aliquam eaque dolore cumque, natus! Libero, quisquam, provident.
            .services-card
                img.services-card__img(src="img/services.png" alt="Capital improvements")
                .services-card__desc
                    h3.services-card__title Dolor sit
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates adipisci libero, corporis ad. Sunt error optio molestias numquam, perspiciatis?
            .services-card
                img.services-card__img(src="img/services.png" alt="Project design and engineering")
                .services-card__desc
                    h3.services-card__title Amet consectetur
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto tempore incidunt, praesentium quos laborum consequatur voluptatem maxime vero dolorem impedit.
        .services-carousel__slide
            .services-card
                img.services-card__img(src="img/services.png" alt="General contracting")
                .services-card__desc
                    h3.services-card__title Lorem ipsum
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita labore, facilis nam id illo vero, corporis accusantium, fuga temporibus qui aliquam eaque dolore cumque, natus! Libero, quisquam, provident.
            .services-card
                img.services-card__img(src="img/services.png" alt="Capital improvements")
                .services-card__desc
                    h3.services-card__title Dolor sit
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates adipisci libero, corporis ad. Sunt error optio molestias numquam, perspiciatis?
            .services-card
                img.services-card__img(src="img/services.png" alt="Project design and engineering")
                .services-card__desc
                    h3.services-card__title Amet consectetur
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto tempore incidunt, praesentium quos laborum consequatur voluptatem maxime vero dolorem impedit.
        .services-carousel__slide
            .services-card
                img.services-card__img(src="img/services.png" alt="General contracting")
                .services-card__desc
                    h3.services-card__title Lorem ipsum
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita labore, facilis nam id illo vero, corporis accusantium, fuga temporibus qui aliquam eaque dolore cumque, natus! Libero, quisquam, provident.
            .services-card
                img.services-card__img(src="img/services.png" alt="Capital improvements")
                .services-card__desc
                    h3.services-card__title Dolor sit
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates adipisci libero, corporis ad. Sunt error optio molestias numquam, perspiciatis?
            .services-card
                img.services-card__img(src="img/services.png" alt="Project design and engineering")
                .services-card__desc
                    h3.services-card__title Amet consectetur
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto tempore incidunt, praesentium quos laborum consequatur voluptatem maxime vero dolorem impedit.
        .services-carousel__slide
            .services-card
                img.services-card__img(src="img/services.png" alt="General contracting")
                .services-card__desc
                    h3.services-card__title Lorem ipsum
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita labore, facilis nam id illo vero, corporis accusantium, fuga temporibus qui aliquam eaque dolore cumque, natus! Libero, quisquam, provident.
            .services-card
                img.services-card__img(src="img/services.png" alt="Capital improvements")
                .services-card__desc
                    h3.services-card__title Dolor sit
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates adipisci libero, corporis ad. Sunt error optio molestias numquam, perspiciatis?
            .services-card
                img.services-card__img(src="img/services.png" alt="Project design and engineering")
                .services-card__desc
                    h3.services-card__title Amet consectetur
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto tempore incidunt, praesentium quos laborum consequatur voluptatem maxime vero dolorem impedit.
        .services-carousel__slide
            .services-card
                img.services-card__img(src="img/services.png" alt="General contracting")
                .services-card__desc
                    h3.services-card__title Lorem ipsum
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita labore, facilis nam id illo vero, corporis accusantium, fuga temporibus qui aliquam eaque dolore cumque, natus! Libero, quisquam, provident.
            .services-card
                img.services-card__img(src="img/services.png" alt="Capital improvements")
                .services-card__desc
                    h3.services-card__title Dolor sit
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates adipisci libero, corporis ad. Sunt error optio molestias numquam, perspiciatis?
            .services-card
                img.services-card__img(src="img/services.png" alt="Project design and engineering")
                .services-card__desc
                    h3.services-card__title Amet consectetur
                    p.services-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto tempore incidunt, praesentium quos laborum consequatur voluptatem maxime vero dolorem impedit.

    .services-controls
        include carousel-controls.pug